<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EYANGO TABI</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="css/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">My Resume</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experiences</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#reference">References</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
        <div class="profile-page">
          <div class="wrapper">
            <div class="page-header page-header-small" filter-color="green">
              <div class="page-header-image" data-parallax="true" style="background-image: url('images/background/background_image.jpeg')"></div>
              <div class="container">
                <div class="content-center">
                  <div class="cc-profile-image"><a href="#"><img src="images/background/profile_picture.jpeg" alt="Image"/></a></div>
                  <div class="h2 title">EYANGO TABI Théophile Ghislain Loïc</div>
                  <p class="category text-white">Researcher PhD Student, Data scientist, Agronomist</p>
                  <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">
                    Click here to <br>Hire Me
                  </a>
                  <a class="btn btn-primary" href="docs/CV.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" target="_blank" rel="noopener noreferrer">
                    Download my CV <font size="0.05" ><br>
                    (in French)</font>
                  </a>
                </div>
              </div>
              <div class="section">
                <div class="container">
                  <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/loic-eyango/" target="_blank" rel="tooltip noopener noreferrer" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/fiastros" target="_blank" rel="tooltip noopener noreferrer" title="Follow me on Github"><i class="fa fa-github"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.kaggle.com/loicdfsdf" target="_blank" rel="tooltip noopener noreferrer" title="Follow me on Kaggle"><i class="fa fa-code"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="about">
          <div class="container">
            <div class="card" data-aos="fade-up" data-aos-offset="10">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                    <div class="h4 mt-0 title">About</div>
                    <p class="justifying-text">Hello, I am EYANGO Loic. I am an Engineer in Agriculture, Data scientist and a Researcher.
                    <p class="justifying-text">I'm currently pursuing my PhD as a researcher
                    in Artificial Intelligence applied to Animal Health. The goal of my research is to build a tool for breeders
                    based on AI to predict Bovine Respiratory Diseases (BRD).
                    <a class="smooth-scroll" href="#experience">Learn More</a></p>
                    <p class="justifying-text"> I am Hardworking, Goal-oriented and Flexible. I'm also a critical thinker
                      and good at Communicating & Cooperating/Teamwork. Most of all, I love learning new concepts.
                      </p>

                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                    <div class="h4 mt-0 title">Basic Information</div>
                    <div class="row">
                      <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                      <div class="col-sm-8">24</div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                      <div class="col-sm-8">loicyng@gmail.com</div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                      <div class="col-sm-8">+33 7 49 65 06 69</div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                      <div class="col-sm-8">Villejean, Rennes, France</div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                      <div class="col-sm-8">French (Fluent), English (Toeïc: 930/990), Spanish(Beginner)</div>
                    </div>

                    <div class="row mt-3">
                      <div class="col-sm-4"><strong class="text-uppercase">Leisure:</strong></div>
                      <div class="col-sm-8">
                        Swimming, <i class="fa fa-youtube-play"> Animes </i>, <i class="fa fa-code"> Coding </i> , <i class="fa fa-music"> Music </i>
                        ,<i class="fa fa-book"> Reading </i>, <i class="fa fa-gamepad"> games </i> <i class="fa fa-plane"> Travelling </i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="skill">
          <div class="container">
            <div class="h4 text-center mb-4 title">Professional Skills</div>
            <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge">
                        Data science <font class="skills-list">(Machine Learning, Deep Learning, Statistics)</font>
                      </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        <span class="progress-value">70%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="progress-container progress-primary"><span class="progress-badge">Software Engineering
                        <font class="skills-list">(Python, R, APIs, OOP)</font>
                    </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div
                        ><span class="progress-value">80%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="progress-container progress-primary"><span class="progress-badge">Database
                       <font class="skills-list">(SQL,PostgreSQL,MongoDB)</font>
                    </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">65%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="progress-container progress-primary"><span class="progress-badge">Visualisation
                      <font class="skills-list">(Python, R, Tableau software, QGIS)</font>
                    </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="progress-container progress-primary"><span class="progress-badge">Web Development
                      <font class="skills-list">(HTML, CSS, JavaScript, Python, Flask)</font>
                    </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                        <span class="progress-value">65%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="progress-container progress-primary"><span class="progress-badge">Miscellaneous
                      <font class="skills-list">(Git, Latex, Microsoft Pack, OS Linux/macOS)</font>
                    </span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        <span class="progress-value">70%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="projects">
          <div class="container">

            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="h4 text-center mb-4 title">Projects</div>
                <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="nav-item"><a class="nav-second btn btn-primary active" data-toggle="tab" href="#company-projects" role="tablist"> Company</a></li>
                    <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#personal-projects" role="tablist">Personal </a></li>
                    <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#freelancing-projects" role="tablist">Freelancing </a></li>
                    <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#school-projects" role="tablist">School </a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-content gallery mt-5">

              <div class="tab-pane active" id="company-projects">
                <div class="ml-auto mr-auto">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="images/projects/remote_sensing.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Precision Agriculture</div>
                              <p>Remote Sensing & Machine Learning</p>
                            </figcaption>
                          </figure>
                        </a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="images/projects/image_classification.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Image Classification</div>
                              <p>Deep Learning</p>
                            </figcaption>
                          </figure>
                        </a>
                      </div>
                    </div>


                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                          <figure class="cc-effect"><img src="images/projects/object_recognition.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Object Recognition</div>
                              <p>Deep Learning</p>
                            </figcaption>
                          </figure></a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                          <figure class="cc-effect"><img src="images/projects/data_visualisation.webp" alt="Image"/>
                            <figcaption>
                              <div class="h4">Data Analytics</div>
                              <p>Statistics & Visualization</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="personal-projects" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/web_development.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Webpage Resume</div>
                              <p>Full Stack, Software Engineering</p>
                            </figcaption>
                          </figure></a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/trading_bot.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Trading Bot</div>
                              <p>Software Engineering, Machine Learning</p>
                            </figcaption>
                          </figure></a>
                      </div>

                       <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/twitch_bot.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Twitch bot</div>
                              <p>Software Engineering, Machine Learning</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/crop_data_visualisation.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">FAO Crop Statistics </div>
                              <p>Data Analytics, Data Visualization</p>
                            </figcaption>
                          </figure></a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/server_hosting.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Server Hosting</div>
                              <p> Cloud Computing</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="freelancing-projects" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                          <figure class="cc-effect"><img src="images/projects/tweeter_bot.png" alt="Image"/>
                            <figcaption>
                              <div class="h4">Tweeter bot</div>
                              <p>web scraping, data analytics</p>
                            </figcaption>
                          </figure></a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                          <figure class="cc-effect"><img src="images/projects/web_development_freelancing.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Web Development</div>
                              <p>Front-end</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                          <figure class="cc-effect"><img src="images/projects/web_scraping.png" alt="Image"/>
                            <figcaption>
                              <div class="h4">Web scraping</div>
                              <p>Software Engineering</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="school-projects" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-6">

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                          <figure class="cc-effect"><img src="images/projects/finder.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Natural Language Processing</div>
                              <p>Deep learning, Web scraping, Machine Learning</p>
                            </figcaption>
                          </figure></a>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                          <figure class="cc-effect"><img src="images/projects/school_mapping.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4">Precision Agriculture</div>
                              <p>Software engineering, Remote sensing</p>
                            </figcaption>
                          </figure></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="experience">
          <div class="container cc-experience">
            <div class="h4 text-center mb-4 title">Work Experience</div>

            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="nav-align-center">
                  <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li class="nav-item"><a class="nav-second btn btn-primary active" data-toggle="tab" href="#currently" role="tablist">Current Positions</a></li>
                    <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#past_companies" role="tablist">Past Experience</a></li>
                    <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#intenrships" role="tablist">Internships</a></li>
                  </ul>
                </div>
              </div>
            </div> <br>


            <div class="tab-content gallery mt-5">
              <div class="tab-pane active" id="currently">
                <div class="ml-auto mr-auto">
                  <div class="row" >

                      <div class="card">
                        <div class="row">
                          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                            <div class="card-body cc-experience-header">
                              <p><i class="fa fa-clock-o"></i> April 2022 - Ongoing</p>
                              <p><i class="fa fa-location-arrow"></i> Rennes & Nantes, France</p>
                              <div class="h5"><p><i class="fa fa-address-book-o"></i> Adventiel</p> + <p>ONIRIS + INRAE</p> </div>
                            </div>
                          </div>
                          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                            <div class="card-body">
                              <div class="h5" >Researcher PhD Student</div>
                                <p class="justifying-text">
                                  My PhD research is done in collaboration with a company  <em>(Adventiel - Tech company)</em>
                                  and a <a class="smooth-scroll" href="#education">school <em>(Oniris - Engineering school for veterinary)</em></a> and a research institute
                                  <em>(INRAE - research institute for agricultural science)</em>.
                                  My research aims to solve the problems of the company by developing innovative solutions. I am building tools
                                  based on Artificial Intelligence that will evaluate the current global health of a cow and also make long term predictions of
                                  any respiratory disease. this tool will help cattle breeders and will have a positive impact in agriculture.
                                </p>
                                <p class="justifying-text">
                                  <u>Keywords: </u> #Deep Learning #Animal Health #Mechanistic modelling #Research
                               </p>
                            </div>
                          </div>
                        </div>
                      </div>

                     <div class="card">
                        <div class="row">
                          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                            <div class="card-body cc-experience-header">
                              <p><i class="fa fa-clock-o"></i> September 2021 - Ongoing</p>
                              <p><i class="fa fa-location-arrow"></i> Douala, Cameroon</p>
                              <div class="h5">
                                <i class="fa fa-address-book-o"></i>
                                 University of Douala <font class="education-small"> (Institute of Fisheries and Aquatic Sciences) </font>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                            <div class="card-body">
                              <div class="h5">Part-time Teacher</div>
                              <p> Working part-time as a teacher at the University of Douala, tutoring students from 3<sup>rd</sup> to 5<sup>th</sup> year.
                                  The classes were taught in french and english :
                                  <ul>
                                    <li>Biostatistics </li>
                                    <li>Data collection and processing</li>
                                    <li>Ecological modelling</li>
                                  </ul>
                                  <u>Keywords:</u> #Teaching #Biostatistics #pedagogy
                                </p>
                            </div>
                          </div>
                        </div>
                     </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="past_companies" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">

                    <div class="card" >
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-experience-header">
                            <p><i class="fa fa-clock-o"></i> June 2021 - December 2021</p>
                            <p><i class="fa fa-location-arrow"></i> Rennes, France</p>
                            <div class="h5"> <i class="fa fa-address-book-o"></i> Adventiel</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Data Scientist</div>
                            <p>I placed second place during an innovation competition organized by the company. So I had the oportunity
                                to develop my idea of innovation in Agriculture which was to use satellite Imagery to compute the available biomass
                                for cows to graze:
                            <ul>
                              <li>Data collection (sentinel) and storage </li>
                              <li>Data preprocessing (Cleaning, Normalisation ... )</li>
                              <li>Applying machine learning models (PCA, SVM, GLM, XGBoost, neural network) </li>
                              <li>Optimisation: predicting the available biomass</li>
                              <li>Writing an scientific article</li>
                              <li>Pushing models to production</li>
                            </ul>
                            <u>Keywords:</u> #Remote Sensing #Precision Agriculture #Machine Learning #R #PostgreSQL #Git
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-experience-header">
                            <p><i class="fa fa-clock-o"></i> Jan 2021 - June 2021</p>
                            <p><i class="fa fa-location-arrow"></i> Rouen, France</p>
                            <div class="h5"> <i class="fa fa-address-book-o"></i> Unilasalle</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Teacher Assistant</div>
                              <p> I worked as a teacher assistant by tutoring first year students in mathematics for 2 years. The classes were in english
                              and the given  course is Multivariate Calculus. The chapters I gave were :
                                <ul>
                                  <li>Domain, Range, Norms, Continuity, limits</li>
                                  <li>Partial functions and mixed functions, isoclines curves</li>
                                  <li>Partial derivatives (Gradients) and determinant, differential operator</li>
                                  <li>Schwartz Theorem, Hessian matrix, Jacobian matrix</li>
                                  <li>Taylor-Young Theorem</li>
                                  <li>Vector valued functions, Jacobian matrix and determinant</li>
                                  <li>Optimisation: critical/stationnary points, determinants, saddle points, local/global min/max points</li>
                                </ul>
                                <u>Keywords:</u> #Teaching #Applied Mathematics #Calculus
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="intenrships" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-experience-header">
                            <p><i class="fa fa-clock-o"></i> Jan 2021 - June 2021</p>
                            <p><i class="fa fa-location-arrow"></i> Rennes, France</p>
                            <div class="h5"> <i class="fa fa-address-book-o"></i> Adventiel</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Data Science Intern</div>
                              <p>As a data Scientist I was worked on multiple projects on Image Classification and Object detection/recognition
                              for animal surveillance :
                                <ul>
                                  <li>Data collection and storage (sentinel-2, PostgreSQL)</li>
                                  <li>Data preprocessing (Normalisation, resizing, downsampling, smote, adasyn ...)</li>
                                  <li>Modelling using different architectures of neural networks (mobilenet, inception, resnet...) with tensorflow and pytorch</li>
                                  <li>Optimisation: Fine tuning, SGD, regularisation (dropout...)</li>
                                  <li>Writing a scientific report</li>
                                  <li>Pushing models to production</li>
                                </ul>
                                <u>Keywords:</u> #Deep Learning #Animal monitoring #Pytorch #Python #Video surveillance #Git
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-experience-header">
                            <p><i class="fa fa-clock-o"></i> July 2020 - December 2020</p>
                            <p><i class="fa fa-location-arrow"></i> Pacé, France</p>
                            <div class="h5"> <i class="fa fa-address-book-o"></i> SGPI</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Data Analyst Intern</div>
                              <p>As a data Analyst, I analysed data from gps coordinates. The goal was to compare multiple gps devices:
                                <ul>
                                  <li>retrieving data from the database (PostgreSQL)</li>
                                  <li>Cleaning and normalizing the data & feature engineering</li>
                                  <li>Conduct statistical test (A/B testing, Normality, homoscedasticity, mean/median comparison)</li>
                                  <li>Data visualisation (scatterplot, histograms, pie charts ...)</li>
                                  <li>Data storytelling</li>
                                  <li>Writing a scientific report</li>
                                </ul>
                                <u>Keywords:</u> #A/B testing #Statistics #Visualization #R #Python
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-experience-header">
                            <p><i class="fa fa-clock-o"></i> June 2016 - July 2019</p>
                            <p><i class="fa fa-location-arrow"></i> USA & France</p>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Farm Internships</div>
                              <p class="justifying-text"> As an engineer in agriculture I have done multiple internships in multiple farms. During those internships I had two major tasks, participate in all
                                the daily tasks of the farm which included: plowing, harvest, fertilization, feeding the cattle, maneuvering agricultural vehicles... the second
                                task was to evaluate the global health of the farm by analyzing and writing a report on the agronomic (soil, crop rotation, plant health) aspect of the farm, animal
                                (health, reproduction, feeding) and financial (accounting balance sheet, financial indicators) aspect of the farm; This report is to help the farmer have
                                a global vision of his farm on important aspects.
                                <br>Here are the Farms in which I did my internships:
                                <ul>
                                  <li> <B> Date:</B> April-july 2019. <B>Farm:</B> BUL-HOSTEIN. <B>Location:</B> Bulles,France.
                                    <B>Specialization:</B> Cow-Calf Operation & crop farming (wheat,rapeseed, corn, barley
                                  </li>

                            <li> <B> Date:</B> June-August 2018. <B>Farm:</B> Elevage de la Fraserie . <B>Location:</B> Cherbourg,France.
                                    <B>Specialization:</B> poultry (duck, goose, chicken) & crops farm (strawberry)
                                  </li>

                                  <li> <B> Date:</B> June-August 2017. <B>Farm:</B> Alexandre Family farm. <B>Location:</B> California,USA.
                                    <B>Specialization:</B> Dairy cattle (flavored milk, yoghurt, cream) & pastured Eggs sale
                                  </li>

                                  <li> <B> Date:</B> June-August 2016. <B>Farm:</B> EARL Crasville-Faucon. <B>Location:</B> Crasville-la-rocquefort,France.
                                    <B>Specialization:</B> Cow-Cald operation & Crop farming(wheat,rapeseed,sugar beet)
                                  </li>

                                </ul>
                                <u>Keywords:</u> #Agriculture  #Agronomy analysis #financial analysis #animal health/reproduction/food
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="section" id="education">
          <div class="container cc-education">
            <div class="h4 text-center mb-4 title">Education</div>

              <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="nav-align-center">
                    <ul class="nav nav-pills nav-pills-primary" role="tablist">
                      <li class="nav-item"><a class="nav-second btn btn-primary active" data-toggle="tab" href="#recent-school" role="tablist">1</a></li>
                      <li class="nav-item"><a class="nav-second btn btn-primary" data-toggle="tab" href="#second-recent-school" role="tablist">2</a></li>
                    </ul>
                  </div>
                </div>
              </div> <br>

            <div class="tab-content gallery mt-5">
              <div class="tab-pane active" id="recent-school">
                <div class="ml-auto mr-auto">
                  <div class="row" >

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-education-header">
                            <p>April 2022 - Ongoing</p>
                            <p> (Nantes, France)</p>
                            <div class="h5">Doctor of Philosophy (PhD)</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Artificial Intelligence applied to Animal Health</div>
                            <p class="category">ONIRIS - National veterinary and agri-food school</p>
                            <p>Relevant Coursework:</p>
                            <ul>
                              <li>Deep learning: CNN, RCNN, transfer learning, reinforcement learning</li>
                              <li>Computer Science (Software engineering, Algorithmic)</li>
                              <li>Mechanistic modelling</li>
                              <li>Communication (publishing articles, conferences, Teaching) </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-education-header">
                            <p>October 2019 - June 2021</p>
                            <p> (Rouen, France)</p>
                            <div class="h5">Master of Science (Msc)</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Agricultural & Food Data Management</div>
                            <p class="category">Unilasalle - school of engineering in Agriculture - Grade: 15.5/20</p>
                            <p> Relevant coursework: </p>
                            <ul>
                              <li> Precision Agriculture</li>
                              <li> Machine Learning: PCA,MCA, GLM, Random Forrest, SVM, Time series </li>
                              <li> Statistics: A/B testing, Inferentiel statistics </li>
                              <li> Software engineering: Python, R </li>
                              <li> Data Mining, analysis, visualisation</li>
                              <li> Database: SQL, MongoDB</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                   </div>
                </div>
              </div>

              <div class="tab-pane" id="second-recent-school" role="tabpanel">
                <div class="ml-auto mr-auto">
                  <div class="row">

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-education-header">
                            <p>Sept 2015 - June 2021</p>
                            <p> (Rouen, France)</p>
                            <div class="h5">Engineer </div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Agricultural Engineer</div>
                            <p class="category">Unilasalle - School of Engineering in Agriculture - Grade: 14.5/20</p>
                            <p> Relevant coursework: </p>
                            <ul>
                              <li> Agronomy (crop rotation, soil management, plant health) </li>
                              <li> Animal biology (animal health, animal reproduction, animal feed) </li>
                              <li> Agroecology, Agroindustry  </li>
                              <li> Agriculture, Agricultural Machinery</li>
                              <li> Farm financial analysis</li>

                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-education-header">
                            <p>2015</p>
                            <p> (Yaounde, Cameroon)</p>
                            <div class="h5">High School </div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Mathematics , Earth & Life Sciences</div>
                            <p class="category">F.X Vogt - Grade: 14/20</p>
                            <p> Relevant coursework: </p>
                            <ul>
                              <li> Earth & Life science</li>
                              <li> Mathematics </li>
                              <li> Physics  </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="reference">
          <div class="container cc-reference">
            <div class="h4 mb-4 text-center title">References</div>
            <div class="card" data-aos="zoom-in">
              <div class="carousel slide" id="cc-Indicators" data-ride="carousel">

                <ol class="carousel-indicators">
                  <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                  <li data-target="#cc-Indicators" data-slide-to="1"></li>
                  <li data-target="#cc-Indicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/references/STaibi.jpeg" alt="Image"/>
                        <div class="h6 pt-2">TAIBI Salima</div>
                        <p class="h7 skills-list">PhD/Dr - HDR Data Science</p>
                      </div>
                      <div class="col-lg-10 col-md-9">
                        <p class="justifying-text">"I, undersigned, SALIMA TAIBI certify that Mr Theophile Ghislain Loic EYANGO TABI, has graduated with a
                          engineering degree in Agriculture and another master degree in Agricultural & Food data Management.
                        </p>
                        <p class="justifying-text">He completed his studies successfully while acting as substitute teacher
                          in applied mathematics in our institution.<br>
                          Considering his performance and potential, I recommend him for research in relation with his admission to the PhD
                          programme."
                          <a href="docs/staibi_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
                        </p>
                        <p class="skills-list align-text-right"> Head of Team NUMAN &<br>
                        MSc "Agricultural and Food Data Management <br>
                          Unilasalle - Rouen</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/references/MElRhabi.jpeg" alt="Image"/>
                        <div class="h6 pt-2">EL RHABI Mohammed</div>
                        <p class="h7 skills-list">PhD/Dr - HDR Applied Mathematics</p>
                      </div>
                      <div class="col-lg-10 col-md-9">
                        <p class="justifying-text">"I, the undersigned, Mohammed EL RHABI, hereby certify that Mr EYANGO TABI Theophile Ghislain Loic
                          holder of an engineering degree in Agriculture and a Master of science in AgFood Data Management,
                          has all the skills and potential to undertake research and support a thesis of doctorate in the themes of his
                          competence.<p>
                          I strongly recommend his admission to the doctoral school."
                          <a href="docs/melrhabi_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
                        </p>
                        </p>
                        <p class="skills-list align-text-right">Head of the Applied Mathematics, Data & Computer Sciences Unit <br>
                          Professor at Ecole Centrale Casablanca <br>
                          Casablanca, Morocco
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 cc-reference-header"><img src="images/references/CGangneux.jpeg" alt="Image"/>
                        <div class="h6 pt-2">GANGNEUX Christophe</div>
                        <p class="h7 skills-list">PhD/Dr - Cellular and Molecular Biology</p>
                      </div>
                      <div class="col-lg-10 col-md-9">
                        <p class="justifying-text">"I, undersigned, Chir certify that Mr Theophile Ghislain Loic EYANGO TABI, has graduated with a
                          engineering degree in Agriculture and another master degree in Agricultural & Food data Management.
                        </p>
                        <p class="justifying-text">He completed his studies successfully while acting as substitute teacher
                          in applied mathematics in our institution.<br>
                          Considering his performance and potential, I recommend him for research in relation with his admission to the PhD
                          programme."
                          <a href="docs/cgangneux_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
                        </p>
                        </p>
                        <p class="skills-list align-text-right">Academic Director <br>
                          Unilasalle <br>
                          Rouen, France
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="contact">
          <div class="cc-contact-information" style="background-image: url('images/background/background_map.png')">
            <div class="container">
              <div class="cc-contact">
                <div class="row">
                  <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in">
                      <div class="h4 text-center title">Contact Me</div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="card-body">
                            <form action="https://formspree.io/f/xoqrljjr" method="POST">
                              <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                    <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                    <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                                  </div>
                                </div>
                              </div>
                              <div class="row mb-3">
                                <div class="col">
                                  <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                            <p class="mb-0"><strong>Address </strong></p>
                            <p class="pb-2">Villejean, Rennes, France</p>
                            <p class="mb-0"><strong>Phone</strong></p>
                            <p class="pb-2">+33 7 49 65 06 69</p>
                            <p class="mb-0"><strong>Email</strong></p>
                            <p>loicyng@gmail.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <a class="cc-twitter btn btn-link" href="https://www.linkedin.com/in/loic-eyango/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
        <a class="cc-github btn btn-link " href="https://github.com/fiastros" target="_blank" rel="noopener noreferrer"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a>
        <a class="cc-facebook btn btn-link" href="https://www.kaggle.com/loicdfsdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-code fa-2x " aria-hidden="true"></i></a>
        <div class="h4 title text-center">EYANGO TABI Théophile Ghislain Loïc</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank" rel="noopener noreferrer">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="js/core/popper.min.js?ver=1.1.0"></script>
    <script src="js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="js/aos.js?ver=1.1.0"></script>
    <script src="scripts/main.js?ver=1.1.0"></script>
  </body>
</html>