#ignoring files
/website/confidential.json

#Ignoring all the ds-store in all the sub-directory
**/.DS_Store
**/.Rhistory

#ignoring directories
venv/

#ignoring miscellanaous files or directories
.idea/
