        <div class="row">
          <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/references/STaibi.jpeg" alt="Image"/>
            <div class="h6 pt-2">TAIBI Salima</div>
            <p class="h7 skills-list">PhD/Dr - HDR Data Science</p>
          </div>
          <div class="col-lg-10 col-md-9">
            <p class="justifying-text">"I, undersigned, SALIMA TAIBI certify that Mr Theophile Ghislain Loic EYANGO TABI, has graduated with a
              engineering degree in Agriculture and another master degree in Agricultural & Food data Management.
            </p>
            <p class="justifying-text">He completed his studies successfully while acting as substitute teacher
              in applied mathematics in our institution.<br>
              Considering his performance and potential, I recommend him for research in relation with his admission to the PhD
              programme."
              <a href="static/docs/staibi_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
            </p>
            <p class="skills-list align-text-right"> Head of Team NUMAN &<br>
            MSc "Agricultural and Food Data Management <br>
              Unilasalle - Rouen</p>
          </div>
        </div>
