        <div class="row">
          <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/references/MElRhabi.jpeg" alt="Image"/>
            <div class="h6 pt-2">EL RHABI Mohammed</div>
            <p class="h7 skills-list">PhD/Dr - HDR Applied Mathematics</p>
          </div>
          <div class="col-lg-10 col-md-9">
            <p class="justifying-text">"I, the undersigned, Mohammed EL RHABI, hereby certify that Mr EYANGO TABI Theophile Ghislain Loic
              holder of an engineering degree in Agriculture and a Master of science in AgFood Data Management,
              has all the skills and potential to undertake research and support a thesis of doctorate in the themes of his
              competence.<p>
              I strongly recommend his admission to the doctoral school."
              <a href="static/docs/melrhabi_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
            </p>
            </p>
            <p class="skills-list align-text-right">Head of the Applied Mathematics, Data & Computer Sciences Unit <br>
              Professor at Ecole Centrale Casablanca <br>
              Casablanca, Morocco
            </p>
          </div>
        </div>
