        <div class="row">
          <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/references/CGangneux.jpeg" alt="Image"/>
            <div class="h6 pt-2">GANGNEUX Christophe</div>
            <p class="h7 skills-list">PhD/Dr - Cellular and Molecular Biology</p>
          </div>
          <div class="col-lg-10 col-md-9">
            <p class="justifying-text">"I, undersigned, Chir certify that Mr Theophile Ghislain Loic EYANGO TABI, has graduated with a
              engineering degree in Agriculture and another master degree in Agricultural & Food data Management.
            </p>
            <p class="justifying-text">He completed his studies successfully while acting as substitute teacher
              in applied mathematics in our institution.<br>
              Considering his performance and potential, I recommend him for research in relation with his admission to the PhD
              programme."
              <a href="static/docs/cgangneux_reco_letter.pdf" target="_blank" rel="noopener noreferrer">Read more...</a>
            </p>
            </p>
            <p class="skills-list align-text-right">Academic Director <br>
              Unilasalle <br>
              Rouen, France
            </p>
          </div>
        </div>
