        <div class="tab-pane" id="freelancing-projects" role="tabpanel">
            <div class="ml-auto mr-auto">
              <div class="row">
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#do-nothing">
                      <figure class="cc-effect"><img src="static/images/projects/tweeter_bot.png" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Tweeter bot</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              I built a bot to scrape tweeter and find opinion leader of a hashtag.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Software Engineering, Web scraping, data visualization
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>

                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#do-nothing">
                      <figure class="cc-effect"><img src="static/images/projects/web_development_freelancing.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Web Development</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              Building the front-end of web page.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Front-end, Html, CSS
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#do-nothing">
                      <figure class="cc-effect"><img src="static/images/projects/web_scraping.png" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Web scraping</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              Building a python application to webscrape a specific site and store specific data
                              in a csv file to be used for analytic purpose later.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Software Engineering
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
