        <div class="tab-pane" id="personal-projects" role="tabpanel">
            <div class="ml-auto mr-auto">
              <p><center> <B>Click on the projects to be redirected towards the source code/project</B></center> </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="https://github.com/fiastros/portfolio_resume" target="_blank" rel="noopener noreferrer">
                      <figure class="cc-effect"><img src="static/images/projects/web_development.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4">
                            <u><b>Webpage Resume</u></b>
                          </div>

                          <div class="h4" style="font-size:1em; text-align:left">
                            <p style="font-size:1em; text-transform:none"> I built this portfolio site to share my journey.
                              The website is hosted on my personal raspberry pi running a ubuntu server which I set-up myself.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Full Stack, Software Engineering
                            </p>
                            <ol>
                              <li>Front-End development: HTML, CSS, Boostrap, JavaScript</li>
                              <li>Backend-End Development: Python (Flask)</li>
                              <li>Server Hosting: Raspberry-pi, Ubuntu server </li>
                              <li>URL configuration</li>
                            </ol>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>

                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#do-nothing">
                      <figure class="cc-effect"><img src="static/images/projects/trading_bot.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Trading Bot</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Software Engineering, programming
                            </p>
                            <ol>
                              <li>Software Engineering: Python</li>
                              <li>API</li>
                              <li>Server Hosting: Raspberry Pi, Ubuntu Server</li>
                            </ol>
                          </div>
                        </figcaption>
                      </figure></a>
                  </div>

                   <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                     <a href="https://github.com/fiastros/twitch_bots" target="_blank" rel="noopener noreferrer">
                      <figure class="cc-effect"><img src="static/images/projects/twitch_bot.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Twitch bot</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              I built a bot that make automatic clips of the channel with single command typed in the chat section.
                              The bot is running on Aws.
                            </p>
                              <p style="font-size:0.85em; text-transform:capitalize">
                                <B><u>Keywords:</u></B> Software Engineering, JavaScript, AWS, API,Twitch, Discord
                              </p>
                              <ol>
                                <li>Software Engineering: javascript</li>
                                <li>Cloud: AWS </li>
                                <li>API</li>
                              </ol>
                          </div>
                        </figcaption>
                      </figure></a>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="https://www.kaggle.com/loicdfsdf/crop-statistics-fao-all-countries" target="_blank" rel="noopener noreferrer">
                      <figure class="cc-effect"><img src="static/images/projects/crop_data_visualisation.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u> FAO Crop Statistics</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              I started some work to analyze, visualize and do some basic descriptive statistics on the global crop production.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> Data Analytics, Data Visualization, Kaggle, R
                            </p>
                            <ol>
                              <li>Data processing: filtering, cleaning, grouping</li>
                              <li>Data Visualization: timelapse, barplot</li>
                              <li>Storytelling</li>
                            </ol>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>

                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#do-nothing">
                      <figure class="cc-effect"><img src="static/images/projects/server_hosting.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4"><B><u>Server Hosting</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              I have a personal raspberry pi running a Ubuntu server. On this server I host most of the
                              personal projects I'm working on such as this webpage.
                            </p>
                          <p style="font-size:0.85em; text-transform:capitalize">
                            <B><u>Keywords:</u></B> Cloud Computing
                          </p>
                          <ol>
                            <li>Server Administration</li>
                            <li>Firewall configuration</li>
                            <li>ssh configuration</li>
                          </ol>
                          </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
