        <div class="tab-pane" id="school-projects" role="tabpanel">
            <div class="ml-auto mr-auto">
              <p><center> <B>Click on the projects to be redirected towards the source code/project</B></center> </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="https://github.com/fiastros/finder" target="_blank" rel="noopener noreferrer">
                      <figure class="cc-effect"><img src="static/images/projects/finder.jpeg" alt="Image"/>
                        <figcaption>
                          <p></p>
                            <div class="h4"><B><u>Natural Language Processing</B></u> </div>
                          <div class="h4" style="font-size:1em; text-align:left ">
                            <p style="font-size:1em; text-transform:none">
                              Built a matching algorithm between freelancers (and people looking for
                              job opportunities) and job, by computing a matching score between
                              the candidate and their job. For candidates having a list of ordered choices, we apply the game of
                              theory to maximise the satisfaction of everyone.
                            </p>
                            <p style="font-size:0.85em; text-transform:capitalize">
                              <B><u>Keywords:</u></B> NLP, Web scraping, Game theory, Web Development
                            </p>
                          </div>

                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="https://github.com/fiastros/Cartography" target="_blank" rel="noopener noreferrer">
                      <figure class="cc-effect"><img src="static/images/projects/school_mapping.jpeg" alt="Image"/>
                        <figcaption>
                            <div class="h4"><B><u>Precision Agriculture</B></u> </div>
                            <div class="h4" style="font-size:1em; text-align:left ">
                              <p style="font-size:1em; text-transform:none">
                                We built a python Web application for farmers. They can create and loggin into their account,
                                upload their field plots and visualize NDVI maps of their fields.
                                They also have access to some forecasting: weather.
                              </p>
                              <p style="font-size:0.85em; text-transform:capitalize">
                                <B><u>Keywords:</u></B> Software engineering, Remote sensing,
                              </p>
                            </div>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
