        <div class="tab-pane" id="past_companies" role="tabpanel">
            <div class="ml-auto mr-auto">
              <div class="row">

                <div class="card" >
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p><i class="fa fa-clock-o"></i> June 2021 - December 2021</p>
                        <p><i class="fa fa-location-arrow"></i> Rennes, France</p>
                        <div class="h5"> <i class="fa fa-address-book-o"></i> Adventiel</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Data Scientist</div>
                        <p>I placed second place during an innovation competition organized by the company. So I had the oportunity
                            to develop my idea of innovation in Agriculture which was to use satellite Imagery to compute the available biomass
                            for cows to graze:
                        <ul>
                          <li>Data collection (sentinel) and storage </li>
                          <li>Data preprocessing (Cleaning, Normalisation ... )</li>
                          <li>Applying machine learning models (PCA, SVM, GLM, XGBoost, neural network) </li>
                          <li>Optimisation: predicting the available biomass</li>
                          <li>Writing an scientific article</li>
                          <li>Pushing models to production</li>
                        </ul>
                        <u>Keywords:</u> #Remote Sensing #Precision Agriculture #Machine Learning #R #PostgreSQL #Git
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p><i class="fa fa-clock-o"></i> Jan 2021 - June 2021</p>
                        <p><i class="fa fa-location-arrow"></i> Rouen, France</p>
                        <div class="h5"> <i class="fa fa-address-book-o"></i> Unilasalle</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Teacher Assistant</div>
                          <p> I worked as a teacher assistant by tutoring first year students in mathematics for 2 years. The classes were in english
                          and the given  course is Multivariate Calculus. The chapters I gave were :
                            <ul>
                              <li>Domain, Range, Norms, Continuity, limits</li>
                              <li>Partial functions and mixed functions, isoclines curves</li>
                              <li>Partial derivatives (Gradients) and determinant, differential operator</li>
                              <li>Schwartz Theorem, Hessian matrix, Jacobian matrix</li>
                              <li>Taylor-Young Theorem</li>
                              <li>Vector valued functions, Jacobian matrix and determinant</li>
                              <li>Optimisation: critical/stationnary points, determinants, saddle points, local/global min/max points</li>
                            </ul>
                            <u>Keywords:</u> #Teaching #Applied Mathematics #Calculus
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
