        <div class="tab-pane active" id="currently">
            <div class="ml-auto mr-auto">
              <div class="row" >

                  <div class="card">
                    <div class="row">
                      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                          <p><i class="fa fa-clock-o"></i> April 2022 - Ongoing</p>
                          <p><i class="fa fa-location-arrow"></i> Rennes & Nantes, France</p>
                          <div class="h5"><p><i class="fa fa-address-book-o"></i> Adventiel</p> + <p>ONIRIS + INRAE</p> </div>
                        </div>
                      </div>
                      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                          <div class="h5" >Researcher PhD Student</div>
                            <p class="justifying-text">
                              My PhD research is done in collaboration with a company  <em>(Adventiel - Tech company)</em>
                              and a <a class="smooth-scroll" href="#education">school <em>(Oniris - Engineering school for veterinary)</em></a> and a research institute
                              <em>(INRAE - research institute for agricultural science)</em>.
                              My research aims to solve the problems of the company by developing innovative solutions. I am building tools
                              based on Artificial Intelligence that will evaluate the current global health of a cow and also make long term predictions of
                              any respiratory disease. this tool will help cattle breeders and will have a positive impact in agriculture.
                            </p>
                            <p class="justifying-text">
                              <u>Keywords: </u> #Deep Learning #Animal Health #Mechanistic modelling #Research
                           </p>
                        </div>
                      </div>
                    </div>
                  </div>

                 <div class="card">
                    <div class="row">
                      <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-experience-header">
                          <p><i class="fa fa-clock-o"></i> September 2021 - Ongoing</p>
                          <p><i class="fa fa-location-arrow"></i> Douala, Cameroon</p>
                          <div class="h5">
                            <i class="fa fa-address-book-o"></i>
                             University of Douala <font class="education-small"> (Institute of Fisheries and Aquatic Sciences) </font>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                          <div class="h5">Part-time Teacher</div>
                          <p> Working part-time as a teacher at the University of Douala, tutoring students from 3<sup>rd</sup> to 5<sup>th</sup> year.
                              The classes were taught in french and english :
                              <ul>
                                <li>Biostatistics </li>
                                <li>Data collection and processing</li>
                                <li>Ecological modelling</li>
                              </ul>
                              <u>Keywords:</u> #Teaching #Biostatistics #pedagogy
                            </p>
                        </div>
                      </div>
                    </div>
                 </div>

              </div>
            </div>
        </div>
