        <div class="tab-pane" id="internships" role="tabpanel">
            <div class="ml-auto mr-auto">
              <div class="row">

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p><i class="fa fa-clock-o"></i> Jan 2021 - June 2021</p>
                        <p><i class="fa fa-location-arrow"></i> Rennes, France</p>
                        <div class="h5"> <i class="fa fa-address-book-o"></i> Adventiel</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Data Science Intern</div>
                          <p>As a data Scientist I was worked on multiple projects on Image Classification and Object detection/recognition
                          for animal surveillance :
                            <ul>
                              <li>Data collection and storage (sentinel-2, PostgreSQL)</li>
                              <li>Data preprocessing (Normalisation, resizing, downsampling, smote, adasyn ...)</li>
                              <li>Modelling using different architectures of neural networks (mobilenet, inception, resnet...) with tensorflow and pytorch</li>
                              <li>Optimisation: Fine tuning, SGD, regularisation (dropout...)</li>
                              <li>Writing a scientific report</li>
                              <li>Pushing models to production</li>
                            </ul>
                            <u>Keywords:</u> #Deep Learning #Animal monitoring #Pytorch #Python #Video surveillance #Git
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p><i class="fa fa-clock-o"></i> July 2020 - December 2020</p>
                        <p><i class="fa fa-location-arrow"></i> Pacé, France</p>
                        <div class="h5"> <i class="fa fa-address-book-o"></i> SGPI</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Data Analyst Intern</div>
                          <p>As a data Analyst, I analysed data from gps coordinates. The goal was to compare multiple gps devices:
                            <ul>
                              <li>retrieving data from the database (PostgreSQL)</li>
                              <li>Cleaning and normalizing the data & feature engineering</li>
                              <li>Conduct statistical test (A/B testing, Normality, homoscedasticity, mean/median comparison)</li>
                              <li>Data visualisation (scatterplot, histograms, pie charts ...)</li>
                              <li>Data storytelling</li>
                              <li>Writing a scientific report</li>
                            </ul>
                            <u>Keywords:</u> #A/B testing #Statistics #Visualization #R #Python
                          </p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p><i class="fa fa-clock-o"></i> June 2016 - July 2019</p>
                        <p><i class="fa fa-location-arrow"></i> USA & France</p>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Farm Internships</div>
                          <p class="justifying-text"> As an engineer in agriculture I have done multiple internships in multiple farms. During those internships I had two major tasks, participate in all
                            the daily tasks of the farm which included: plowing, harvest, fertilization, feeding the cattle, maneuvering agricultural vehicles... the second
                            task was to evaluate the global health of the farm by analyzing and writing a report on the agronomic (soil, crop rotation, plant health) aspect of the farm, animal
                            (health, reproduction, feeding) and financial (accounting balance sheet, financial indicators) aspect of the farm; This report is to help the farmer have
                            a global vision of his farm on important aspects.
                            <br>Here are the Farms in which I did my internships:
                            <ul>
                              <li> <B> Date:</B> April-july 2019. <B>Farm:</B> BUL-HOSTEIN. <B>Location:</B> Bulles,France.
                                <B>Specialization:</B> Cow-Calf Operation & crop farming (wheat,rapeseed, corn, barley
                              </li>

                        <li> <B> Date:</B> June-August 2018. <B>Farm:</B> Elevage de la Fraserie . <B>Location:</B> Cherbourg,France.
                                <B>Specialization:</B> poultry (duck, goose, chicken) & crops farm (strawberry)
                              </li>

                              <li> <B> Date:</B> June-August 2017. <B>Farm:</B> Alexandre Family farm. <B>Location:</B> California,USA.
                                <B>Specialization:</B> Dairy cattle (flavored milk, yoghurt, cream) & pastured Eggs sale
                              </li>

                              <li> <B> Date:</B> June-August 2016. <B>Farm:</B> EARL Crasville-Faucon. <B>Location:</B> Crasville-la-rocquefort,France.
                                <B>Specialization:</B> Cow-Cald operation & Crop farming(wheat,rapeseed,sugar beet)
                              </li>

                            </ul>
                            <u>Keywords:</u> #Agriculture  #Agronomy analysis #financial analysis #animal health/reproduction/food
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
        </div>
