{% extends "base.html" %}


  {% block company_projects %}
    <div class="tab-pane active" id="company-projects">
                <div class="ml-auto mr-auto">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="static/images/projects/remote_sensing.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4"><B><u>Precision Agriculture</u></B></div>
                              <div class="h4" style="font-size:1em; text-align:left ">
                                <p style="font-size:0.85em; text-transform:capitalize">
                                  <B><u>Keywords:</u></B> Remote Sensing, Machine Learning, R, API, Database
                                </p>
                                <ol>
                                  <li>Data Extraction: Sentinel-2</li>
                                  <li>Data Processing & Cleaning: R</li>
                                  <li>Building machine learning models for biomass predictions </li>
                                </ol>
                              </div>
                            </figcaption>
                          </figure>
                        </a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="static/images/projects/image_classification.jpeg" alt="Image"/>
                            <figcaption>
                              <div class="h4"><B><u>Image Classification</u></B></div>
                              <div class="h4" style="font-size:1em; text-align:left ">
                                <p style="font-size:0.85em; text-transform:capitalize">
                                  <B><u>keywords:</u></B>Deep Learning, Agriculture, Database
                                </p>
                                <ol>
                                  <li>Data Extraction</li>
                                  <li>Data Processing & Cleaning</li>
                                  <li>Building and testing DL architectures: Mobilenet, Inception, resnet </li>
                                  <li>Optimisation & Fine Tuning</li>
                                </ol>
                              </div>
                            </figcaption>
                          </figure>
                        </a>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="static/images/projects/object_recognition.jpeg" alt="Image"/>

                            <figcaption>
                              <div class="h4"><B><u> Object Recognition</u> </B> </div>
                              <!-- <div class="h4" style="font-size:1em; display:flex; justify-content:center"> -->
                              <div class="h4" style="font-size:1em; text-align:left ">
                                <p style="font-size:0.85em; text-transform:capitalize">
                                  <B><u>Keywords:</u></B> Deep Learning, Computer Vision, Agriculture, Pytorch.
                                </p>
                                <ol>
                                  <li>Data Extraction</li>
                                  <li>Data Cleaning</li>
                                  <li>Data Processing</li>
                                  <li>Building and Training Deep Learning models: CNN, YOlO, R-CNN  </li>
                                  <li>Model Optimisation & regularization: fine tuning</li>
                                </ol>
                              </div>
                            </figcaption>

                          </figure>
                        </a>
                      </div>

                      <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <a href="#web-development">
                          <figure class="cc-effect">
                            <img src="static/images/projects/data_visualisation.webp" alt="Image"/>
                            <figcaption>
                              <div class="h4"><B><u> Data Analytics</B></u> </div>
                              <div class="h4" style="font-size:1em; text-align:left ">
                                <p style="font-size:0.85em; text-transform:capitalize">
                                  <B><u>Keywords:</u></B> Statistics , Visualization, Database
                                </p>
                                <ol>
                                  <li>Data Collection</li>
                                  <li>Feature Engineering</li>
                                  <li>A/B testing: Student T-test, Chi-Square test, ANOVA ...</li>
                                  <li>Visualization: Timelapse, Scatterplot, Barplot, </li>
                                  <li>Storytelling</li>
                                </ol>
                              </div>
                            </figcaption>
                          </figure>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  {% endblock %}