{% extends "base.html" %}

    {% block about_text%}
      <div class="col-lg-6 col-md-12">
        <div class="card-body">
          <div class="h4 mt-0 title">About</div>
              <p class="justifying-text">Hello, I am EYANGO Loic. I am an Engineer in Agriculture, Data scientist and a Researcher.</p>
              <p class="justifying-text">I'm currently pursuing my PhD as a researcher
                  in Artificial Intelligence applied to Animal Health. The goal of my research is to build a tool for breeders
                  based on AI to predict Bovine Respiratory Diseases (BRD).
                  <a class="smooth-scroll" href="#experience">Learn More</a>
              </p>
              <p class="justifying-text"> I am Hardworking, Goal-oriented and Flexible. I'm also a critical thinker
                  and good at Communicating & Cooperating/Teamwork. Most of all, I love learning new concepts.
              </p>
        </div>
      </div>
    {%  endblock%}

    {% block about_basic_information %}
       <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">24</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">loicyng@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+33 7 49 65 06 69</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Villejean, Rennes, France</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">French (Fluent), English (Toeïc: 930/990), Spanish(Beginner)</div>
            </div>

            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Leisure:</strong></div>
              <div class="col-sm-8">
                Swimming, <i class="fa fa-youtube-play"> Animes </i>, <i class="fa fa-code"> Coding </i> , <i class="fa fa-music"> Music </i>
                ,<i class="fa fa-book"> Reading </i>, <i class="fa fa-gamepad"> games </i> <i class="fa fa-plane"> Travelling </i>
              </div>
            </div>
          </div>
       </div>
    {% endblock %}
