        <div class="tab-pane active" id="recent-school">
            <div class="ml-auto mr-auto">
              <div class="row" >

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                        <p>April 2022 - Ongoing</p>
                        <p> (Nantes, France)</p>
                        <div class="h5">Doctor of Philosophy (PhD)</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Artificial Intelligence applied to Animal Health</div>
                        <p class="category">ONIRIS - National veterinary and agri-food school</p>
                        <p>Relevant Coursework:</p>
                        <ul>
                          <li>Deep learning: CNN, RCNN, transfer learning, reinforcement learning</li>
                          <li>Computer Science (Software engineering, Algorithmic)</li>
                          <li>Mechanistic modelling</li>
                          <li>Communication (publishing articles, conferences, Teaching) </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                        <p>October 2019 - June 2021</p>
                        <p> (Rouen, France)</p>
                        <div class="h5">Master of Science (Msc)</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Agricultural & Food Data Management</div>
                        <p class="category">Unilasalle - school of engineering in Agriculture - Grade: 15.5/20</p>
                        <p> Relevant coursework: </p>
                        <ul>
                          <li> Precision Agriculture</li>
                          <li> Machine Learning: PCA,MCA, GLM, Random Forrest, SVM, Time series </li>
                          <li> Statistics: A/B testing, Inferentiel statistics </li>
                          <li> Software engineering: Python, R </li>
                          <li> Data Mining, analysis, visualisation</li>
                          <li> Database: SQL, MongoDB</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

               </div>
            </div>
        </div>
