        <div class="tab-pane" id="second-recent-school" role="tabpanel">
            <div class="ml-auto mr-auto">
              <div class="row">

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                        <p>Sept 2015 - June 2021</p>
                        <p> (Rouen, France)</p>
                        <div class="h5">Engineer </div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Agricultural Engineer</div>
                        <p class="category">Unilasalle - School of Engineering in Agriculture - Grade: 14.5/20</p>
                        <p> Relevant coursework: </p>
                        <ul>
                          <li> Agronomy (crop rotation, soil management, plant health) </li>
                          <li> Animal biology (animal health, animal reproduction, animal feed) </li>
                          <li> Agroecology, Agroindustry  </li>
                          <li> Agriculture, Agricultural Machinery</li>
                          <li> Farm financial analysis</li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                        <p>2015</p>
                        <p> (Yaounde, Cameroon)</p>
                        <div class="h5">High School </div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Mathematics , Earth & Life Sciences</div>
                        <p class="category">F.X Vogt - Grade: 14/20</p>
                        <p> Relevant coursework: </p>
                        <ul>
                          <li> Earth & Life science</li>
                          <li> Mathematics </li>
                          <li> Physics  </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

               </div>
            </div>
        </div>
